* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* How to get background image to bleed to the ends of the page: (n.d.). GitLab. Retrieved March 3, 2023, from https://git.bootcampcontent.com/Rutgers-University/RUT-VIRT-FSF-FT-02-2023-U-LOLC, 01-HTML-Git-CSS, 02-Challenge */
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

a {
    text-decoration: none;
    color: black;
}

/* Background image to cover full page: Learn About Responsive Images: CSS styling for Responsive Websites. (2019, October 1). BitDegree. Retrieved March 3, 2023, from https://www.bitdegree.org/learn/responsive-image */
html {    
    background: url('./images/purple-370132.png') no-repeat center fixed;     
    background-size: cover;
}

.background-image {
    /* Putting divs on top of each other: practice-portfolio (2023, February 24). Retrieved March 2, 2034 from Macintosh HD / Users / CASSANDRA / bootcamp / practice / practice-portfolio */
    position: relative;
    background: no-repeat center fixed;
    background-size: cover;
}

/* How To Center a Website. (n.d.). W3Schools. Retrieved March 6, 2023, from https://www.w3schools.com/howto/howto_css_center_website.asp */
body {
    max-width: 80%;
    margin: auto;
}

header {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    max-width: 100%;
}

.logo-div {
    margin: 5px;
    color: whitesmoke;
    letter-spacing: .1em;
    display: flex;
    align-items: center;
}

.logo-div h1 {
    margin-left: 10px;
}

nav {
    align-self:self-end;
    padding: 1px;
}

.nav-ul {
    /*Remove bullet points from ul: (n.d.). GitLab. Retrieved March 3, 2023, from https://git.bootcampcontent.com/Rutgers-University/RUT-VIRT-FSF-FT-02-2023-U-LOLC, 01-HTML-Git-CSS, 02-Challenge */
    list-style-type: none;
}

.nav-li {
    /*Put li's next to each other: (n.d.). GitLab. Retrieved March 3, 2023, from https://git.bootcampcontent.com/Rutgers-University/RUT-VIRT-FSF-FT-02-2023-U-LOLC, 01-HTML-Git-CSS, 02-Challenge */
    display: inline-block;
    color: whitesmoke;
    margin: 10px;
    font-weight: bold;
    /*Border: CSS Borders. (n.d.). W3Schools. Retrieved March 3, 2023, from https://www.w3schools.com/css/css_border.asp */
    border-bottom: solid 5px rgb(238, 142, 48);
    padding-bottom: 5px;
}

/* - CSS Styling Links. (n.d.). W3Schools. Retrieved March 5, 2023, from https://www.w3schools.com/css/css_link.asp */
.nav-li a:visited {
    color: whitesmoke;
    text-decoration: none;
}

.nav-li a:link {
    color: whitesmoke;
    text-decoration: none;
}

:hover.nav-li {
    border-bottom: solid 5px rgb(28, 187, 39);
    transition: all 1s;
}

#about-me-container {
    margin: 10px;
    margin-top: 20px;
    padding: 5px;
}

h2, h3 {
    background-color: rgb(238, 142, 48);
    padding: 5px;
}

p {
    background-color:  rgb(28, 187, 39);
    padding: 5px;
}

#h2-showcase, #h2-contact {
    margin: 10px;
    margin-top: 20px;
    margin-bottom: -20px;
    padding: 5px;
}

.main-project-image-div {
    margin: 10px;
    padding: 5px;
    min-width: fit-content;
}

#main-project {
    width: 100%;
}

.main-project-title-div {
    background-color: rgb(238, 142, 48);
    margin: 15px;
    margin-top: -18px;
    text-align: right;
}

.other-projects-container {
    display: flex;
    flex-direction: wrap;
    margin: 7px;
}

.photo-image-div{
    width: 50%;
}

.tall {
    padding: 16px;
}

.contact-me {

}

.contact-me-container {
    display: flex;
    justify-content: space-evenly;
}

.about-ul {
    margin: 15px;
    margin-top: 14px;
    padding: 5px;
    background-color:  rgb(28, 187, 39);
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.about-ul a {
    text-decoration: underline;
}

.about-li {
    margin-right: 50px;
}

.avatar {
    align-self: center;
}